## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

*.bbl
*.blg
*.fdb_latexmk
*.idx
*.ilg
*.ind
*.synctex.gz

.DS_Store

## tmp
TFMTeXiS.pdf

## vs code
.vscode